.body {
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body>h4 {
    position: relative;
    color: var(--clr-f-white);
    text-align: center;
    font-size: var(--fs-xl);
    z-index: 1;
}

.body>h4::before {
    font-size: 8rem;
    font-weight: 800;
    color: var(--clr-bg-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}