@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Manrope', sans-serif;
}

:root {
    --bg-color-primary: #313849;
    --bg-color-secondary: #2C3241;
    --font-color-primary: #B7B5B5;
    --font-color-secondary: #898989;
    --font-color-black: #231F20;
    --font-color-white: #FCFCFC;
    --font-color-gold: #FFA000;
    --bg-button: #D8A000;
}