.body {
    display: grid;
    align-items: center;
}

.content {
    color: var(--clr-f-white);
}

.content h1 {
    font-size: var(--fs-7xl);
    font-weight: 800;
}

.content p {
    font-size: var(--fs-xl);
    font-weight: 500;
    margin-bottom: 3rem;
}

.content a {
    color: var(--clr-f-gold);
    text-decoration: underline;
}

.hero {
    justify-self: center;
}

.heroImage {
    width: 20rem;
    height: 20rem;
    background: url(/assets/accents/home_accent_2.png);
    background-repeat: no-repeat;
    position: relative;
    border-bottom-left-radius: 18px;
}

.heroImage::before, .heroImage::after {
    content: '';
    position: absolute;
    border-radius: 18px;
}

.heroImage::before {
    background: url(/assets/accents/home_accent_1.png);
    background-repeat: no-repeat;
    top: -20%;
    left: -30%;
    width: 24rem;
    height: 15rem;
}

.heroImage::after {
    background: url(/assets/accents/home_accent_3.png);
    background-repeat: no-repeat;
    right: -50%;
    bottom: -50%;
    width: 24rem;
    height: 15rem;
}

@media screen and (min-width: 768px) {
    .body {
        min-height: 80vh;
        grid-template-columns: 1fr 1fr;
        background: url(/assets/accents/dots.svg);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: 60% 40%;
    }
}