.body {
    display: grid;
    place-items: center;
    padding-top: 2rem;
}

.body :first-child {
    justify-self: flex-start;
}

@media screen and (min-width: 768px) {
    .body {
        grid-template-columns: 1fr 3fr .5fr .5fr;
    }
}