.body {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-f-white);
}

.body> :first-child {
    width: 100%;
    height: 16rem;
    background-color: var(--clr-f-primary);
    margin-bottom: 2rem;
}

.body> :not(:first-child) {
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.body>h6, .body>p {
    font-size: var(--fs-xs);
    font-weight: 500;
}

.body>h1 {
    font-size: var(--fs-xl);
    font-weight: 600;
}